.cls-1,.cls-5{
    fill:none;
}
.cls-2{
    fill:#949494;
}
.cls-3{
    fill:url(#New_Pattern);
}
.cls-4{
    fill:#f2f2f2;
}
.cls-5{
    stroke:#000;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2.5px;
}